body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calField {
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 250px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

#totalNum {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding-right: 10px;
    width: 215px;
    height: 75px;
}

.deletePic {
    width: 25px;
    height: 25px;
}

.buttonContainer {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: auto;
    gap: 5px 5px;
    grid-template-areas:
    "one two three plus"
    "four five six subtract"
    "seven eight nine multiply"
    "clear zeroo equal divide" 
}

button {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
/* #region  Button IDs*/
#oneBut {
    grid-area: one;
}

#twoBut {
    grid-area: two;
}

#threeBut {
    grid-area: three;
}

#fourBut {
    grid-area: four;
}

#fiveBut {
    grid-area: five;
}

#sixBut {
    grid-area: six;
}

#sevenBut {
    grid-area: seven;
}

#eightBut {
    grid-area: eight;
}

#zeroBut {
    grid-area: zeroo;
}

#plusSign {
    grid-area: plus;
}

#subtractSign {
    grid-area: subtract;
}

#multiplySign {
    grid-area: multiply;
}

#divideSign {
    grid-area: divide;
}

#nineBut {
    grid-area: nine;
}

#equalSign {
    grid-area: equal;
}

#clear {
    grid-area: clear;
}
/* #endregion */