body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
}

.calField {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#totalNum {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 93vw;
    height: 10vh;
    font-size: 2vw;
    font-weight: bold;
}

.deletePic {
    width: 3vw;
    height: 9vh;
}

.buttonContainer {
    display: grid;
    grid-template-columns: repeat(5, 19vw);
    grid-template-rows: repeat(4, 18vh);
    max-width: 100%;
    gap: 5px 5px;
    grid-template-areas:
    "one two three delete clear"
    "four five six plus subtract"
    "seven eight nine multiply divide"
    "zeroo zeroo decimal equal equal" 
}

button {
    height: auto;
    width: auto;
    font-size: 2vw;
}
button:hover {
    filter: brightness(1.50)
}

button:active {
    filter: brightness(2.00)
}

.numberBut{
    background-color: grey;
}

.operatorBut {
    background-color: orange;
}

.removeBut {
    background-color: lightgray
}
/* #region  Button IDs*/
#oneBut {
    grid-area: one;
    font-weight: bold;
}

#twoBut {
    grid-area: two;
    font-weight: bold;
}

#threeBut {
    grid-area: three;
    font-weight: bold;
}

#fourBut {
    grid-area: four;
    font-weight: bold;
}

#fiveBut {
    grid-area: five;
    font-weight: bold;
}

#sixBut {
    grid-area: six;
    font-weight: bold;
}

#sevenBut {
    grid-area: seven;
    font-weight: bold;
}

#eightBut {
    grid-area: eight;
    font-weight: bold;
}

#zeroBut {
    grid-area: zeroo;
    font-weight: bold;
}

#plusSign {
    grid-area: plus;
    font-weight: bold;
}

#subtractSign {
    grid-area: subtract;
    font-weight: bold;
}

#multiplySign {
    grid-area: multiply;
    font-weight: bold;
}

#divideSign {
    grid-area: divide;
    font-weight: bold;
}

#nineBut {
    grid-area: nine;
    font-weight: bold;
}

#equalSign {
    grid-area: equal;
    font-weight: bold;
}

#clear {
    grid-area: clear;
    font-weight: bold;
}

#decimalBut {
    grid-area: decimal;
    font-weight: bold;
}

#deleteBut {
    grid-area: delete;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #endregion */